h1 {
    font-weight: bold;
    font-size: 2em;
    padding: 0;
    text-align-last: left;
}

a:link {
    text-decoration: none;
    color: #2d48c2;
}
a:visited {
  	text-decoration: none;
    color: #2d48c2;
}
a:hover {
  	text-decoration: none;
    color: #a320ca;
}
a:active {
  	text-decoration: none;
    color: #a320ca;
}


.main {
    width: 100%;
    min-width: 1030px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


